/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  padding-top: 70px;
  background-image: url(assets/images/header_iy.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  z-index: -1;
}

table {
  margin-top: 10px;
}


/* Customize container */

@media (min-width: 600px) {
  .container {
    max-width: 768px;
  }
}


/* Customize container */

@media (min-width: 800px) {
  .container-fluid {
    max-width: 1024px;
  }
}

table {
  margin-top: 10px;
  background-color: #A7A9AB;
}

h2, ul {
  color: white;
}

th,
td {
  color: black;
  text-align: left;
}

.btn {
  margin-bottom: 2px;
}

.container {
  margin-top: -20px;
}

.navbar-default .navbar-nav>.active {
  color: #000;
  background: #d65c14;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #000;
  background: #d65c14;
}


/* Customize container */

@media (min-width: 600px) {
  .container {
    max-width: 768px;
  }
}


/* Customize container */

@media (min-width: 800px) {
  .container-fluid {
    max-width: 1024px;
  }
}

.text-danger {
  background-color: white;
  border-radius: 5px;
  padding: 2px;
}
